body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background {
    background-color: white;
    outline: 2px solid whitesmoke;
    box-sizing: border-box;
    padding: 20px;
    width: 1400px;
    height: 670px;
    display: flex;
    justify-content: center;
}